.imagenDeMenu{
width: 80px;
height: 70px;
}

.menu:hover{
    background-color:#8C9EFF;
    cursor:pointer;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #100000;
    }