.slideshow {
    height: 200px;
    max-height: 800px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
  
  .slideshow > div {
    height: 200px;
    width: 2526px;
    background: url("/assets/imagenes/cabecera.jpeg");
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
  }
  .slideshow .mover-1 {
    animation: moveSlideshow 48s linear infinite;
  }
  .slideshow .mover-2 {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    background-position: 0 -200px;
    animation: moveSlideshow 15s linear infinite;
  }
  
  @keyframes moveSlideshow {
    100% { 
      transform: translateX(-66.6666%);  
    }
  }  

.hero-text {
text-align: center;
font-family: 'Press Start 2P', cursive;
margin:auto;
color: black;
}
.text-8bit
{
    font-family: 'Press Start 2P', cursive;
    color: gray;
}


.hero-text a {
border: none;
outline: 0;
display: inline-block;
padding: 10px 25px;
color: black;
background-color: #ddd;
text-align: center;
cursor: pointer;
}

.hero-text a:hover {
background-color: #555;
color: white;
}