<mat-toolbar style="display: flex" class="text-8bit">

    <span><mat-icon src="/assets/imagenes/logo-utn.png"></mat-icon> UTN FRA</span> 
    <span style="flex: 1 1 auto;"></span>

    <button mat-button><i class="fa fa-user"></i> Registrarse</button>
    <button mat-button><i class="fa fa-sign-in"></i> Ingresar</button>

</mat-toolbar>

<div  class="hero-text" style="text-align:center;min-width:50vw;max-width:75vh">
  


  <div class="slideshow">

      <div class="mover-1"></div> 
      <div class="mover-2"></div>
      <br><br>      
      <mat-list>
        <mat-list-item>
            <h2 matLine style="font-size:38px">Sala de Juegos</h2>
            <p matLine>Matías Gutiérrez</p>
        </mat-list-item>
      </mat-list>
      
      <button mat-button href="https://github.com/Mategas"><i class="fa fa-github"></i> Mi GitHub</button>
      <button mat-button routerLink="/QuienSoy"><i class="fa fa-user"></i> ¿Quien Soy?</button>
  </div>

</div>



  
